{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />
{% endblock head %}

{% block stylesheets %}
    {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', 99) %}

    {% do assets.addCss('theme://css/custom.css', 98) %}

    <script>
        window.FontAwesomeConfig = {
            searchPseudoElements: true
        }
    </script>
    <script>
        function getOSColorScheme() {
            if (window.matchMedia === undefined || !window.matchMedia) {
                return 'light';
            }

            var mediaMatches = window.matchMedia('(prefers-color-scheme: dark)');

            if (mediaMatches.matches) {
                return 'dark';
            }

            return 'light';
        }

        console.log(getOSColorScheme())
    </script>
    
    {% do assets.addCss("theme://css/#{grav.theme.config.color_scheme}.css", 97) %}
{% endblock %}

{% block javascripts %}
    {% do assets.addJs('jquery', 100) %}
{% endblock %}

{% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
{% endblock %}
</head>
<body id="top" class="{{ page.header.body_classes }} {{ grav.theme.config.color_scheme }}">

{% block header %}
    <header class="masthead">
        <div class="wrapper">
            <div class="padding">
                <div class="logo left">
                    <a href="{{ home_url }}">
                	    <img src="{{ url('theme://images/square-logo.png')  }}" alt="{{ site.name }}" />
                    </a>
                    {# {% include 'partials/logo.html.twig' %} #}
                </div>
                {% block header_navigation %}
                <nav class="main-nav">
                    {% include 'partials/navigation.html.twig' %}
                </nav>
                {% endblock %}
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
    <section id="body">
        <main>
        {% block content %}{% endblock %}
        </main>
    </section>
{% endblock %}

{# {% block footer %}
    <div class="footer text-center">
        <div class="">
        </div>
    </div>
{% endblock %} #}

{% block bottom %}
    {{ assets.js('bottom')|raw }}
{% endblock %}

</body>
</html>
